body {
    background-color: rgb(218, 236, 236);
    margin: 0%;
}

.head {
    border-left: 3px solid blueviolet;
    padding-left: 1%;

}

.head h1 {
    color: blueviolet;
}

.head h1,
h2 {
    font-size: 35px;
}

p {
    text-align: justify;
    font-size: 18px;
}



.focusedon {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}

.headsection {
    width: 50%;
    margin-left: 5%;
}

.headsection img {
    border-radius: 100%;
    margin-left: 15%;
}

button {
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;


}

button a {
    text-decoration: none;
    color: white;
}

button:hover a {
    color: black;




}

#scroll {
    font-size: 13px;
}

.mission2022 {
    margin-top: 5%;
    margin-left: 5%;
}

#header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4%;

}

#header span {
    color: blueviolet;
}

.mission {
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 12px blueviolet;

}

#illustrator-1 img {
    width: 35%;
    margin-left: 3%;
}

.mission h3 {
    padding-left: 5%;
    font-size: 25px;
}

.mission p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.missionparts {
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}

#vissionp {
    margin-bottom: -2px;
}

#mission {
    background-color: thistle;
}

#vission {
    background-color: violet;
}

#goal {
    background-color: turquoise;
}

#kidscoding img {
    width: 50%;
    margin-left: 0%;
    border-radius: 15%;

}

.para {
    width: 80%;

}

#learn {
    margin-left: -10%;
    width: 80%;
}




#communitypic img {
    width: 60%;
    border-radius: 15%;

}

.title {
    text-align: center;
    font-size: 35px;
    margin-top: 8%;
    font-weight: 900;
    color: blueviolet;

}

h3 a {
    text-decoration: none;
}

h3 a:hover {
    color: deepskyblue;
}

.exprience {

    margin-top: 3%;
    margin-left: 25%;




}

.myexpri {
    width: 60%;
    border: 3px solid blueviolet;
    background-color: cornsilk;
    border-radius: 5%;



}

.myexpri img {
    width: 100%;
    border-radius: 5%;
    border-bottom: 2px solid blueviolet;

}

.myexpri h3 {
    padding-left: 5%;


}

.myexpri p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.footersection {
    background-color: blueviolet;
    margin-top: 5%;


}

.footersection h2,
h4 {
    text-align: center;
    color: cornsilk;



}

.footersection h2 {
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.footersection h4 {
    padding-bottom: 15px;
    font-size: 18px;

}

.footer2022 span {
    color: goldenrod;
    font-size: 50px;
}